/* Reset some default styles for clarity */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

.navbar {
    width: 100vw;
    color: white;
    height: 5vh;
    background-color: #333;
    padding: 6px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.nav-list {
    list-style: none;
  }

  .nav-list li {
    display: inline;
    margin: 0 10px;
  }

  .nav-list a{
    text-decoration: none;
    color: #fff;
  }
 
  .landing {
    height: 80vh;
    color: #fff;
    background-image: url("https://media.istockphoto.com/id/1482915045/photo/multiracial-team-of-engineers-or-architects-having-a-meeting-in-an-office.jpg?s=2048x2048&w=is&k=20&c=3QtaOxMSVpDPWudjzt5OBZKqgkEjnB7lv5qgkxRYAOc=");
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing h1, 
  .landing p {
    text-shadow: darkgray 1px 0 10px;
  }

  .landing h1 {
    font-size: 4rem;
  }

  .landing p {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  /* Main Section styles */
.main-content {
    height: 100vh;
    padding: 40px;
    text-align: center;
  }

  .main-content h2 {
    margin-top: 30px;
    color: white;
  }

  #about {
    background-color: blue;
  }
  
  #services {
    background-color: pink;
  }
  
  #portfolio {
    background-color: red;
  }
  
  #services {
    background-color: orange;
  }
  
  #contact {
    background-color: teal;
  }
  